astral>=3.2
bleak==2.1.1
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreBluetooth==12.1
pyobjc-framework-libdispatch==12.1
pymongo>=4.6.0
dnspython>=2.4.0
python-dotenv
python-kasa